<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandal.trkersandal.a2dunyasavasi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/savas"
        android:label="2.Dünya Savaşı"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Silah">
            <intent-filter>
                <action android:name="android.intent.action.SILAH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".olaylar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.OLAYLAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".philadelphia">
            <intent-filter>
                <action android:name="android.intent.action.PHILADELPHIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".deniz">
            <intent-filter>
                <action android:name="android.intent.action.DENIZ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".rus">
            <intent-filter>
                <action android:name="android.intent.action.RUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".hitler">
            <intent-filter>
                <action android:name="android.intent.action.HITLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".hala_sir">
            <intent-filter>
                <action android:name="android.intent.action.SIR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".kisiler">
            <intent-filter>
                <action android:name="android.intent.action.KISILER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".deneyler">
            <intent-filter>
                <action android:name="android.intent.action.DENEYLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".losangeles">
            <intent-filter>
                <action android:name="android.intent.action.LOSANGELES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ufo">
            <intent-filter>
                <action android:name="android.intent.action.UFOLAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




    </application>
</manifest>